<?xml version="1.0"?>
<model>
  <name>Scaled Red and White Bottle</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>guoxuehan</name>
    <email>18268163458@163.com</email>
  </author>
  <description>
    Three-times-scale bottle proxy based on user-owned 550 ml bottle photos.
  </description>
</model>
