<?xml version="1.0"?>
<model>
  <name>Target Car Competition Field</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>guoxuehan</name>
    <email>18268163458@163.com</email>
  </author>
  <description>
    2.10 m target-car competition field with boundary walls and task zones.
  </description>
</model>
